<%- include('header.ejs'); %>


    <h2>Contact</h2>
    <p> <%=contactContent%> </p>
<p>Linkdin profile : <a href="https://linkedin.com/in/sethsushant">Sushant Seth</a></p>

<%- include('footer.ejs'); %>
