


</div>
<footer class="mt-auto">
  <!-- mt-auto means margin-top: auto, and this is what eventually pushes the footer to the bottom of the page. -->
<div class="text-center p-3 footercopyright" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2022 Copyright:
  <a class="text-reset fw-bold" href="https://github.com/sushantseth">Sushant-Github-Profile</a>
</div>
<!-- Copyright -->
</footer>
</body>
</html>
